// Artworch
$cpanel: rgba(52, 58, 64, 0.23);

$grayd: rgba(52, 58, 64, 1);

// Body
$cbody: rgba(84, 96, 110, 1);

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$fonto: rgba(236, 236, 236, 1);
$fonto-mx: rgba(255, 255, 255, 1);
$fontto-mn: rgba(192, 192, 192, 1);
$light_orange: rgba(255, 221, 188, 0.35);
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$bluebell: #92A1CF;