/* HEADER UI */
.ui.aw-nav-link {
    @extend %truncation;
    max-width: 160px;
}


/* INSIDE */
.aw_acc_sidebar,
.aw_acc_section {
    padding: 5px;

    > div {
        border: 1px solid $thin_light;
        padding: 15px;
        border-radius: 5px;
        min-height: 380px;
        background-color: $cpanel;
    }
}

.aw_acc_sidebar > div {
    padding: 30px;
}

.aw_acc_sidebar .table th,
.aw_acc_sidebar .table td {
    padding: 0;
    border-top: 1px solid $thin_light;
}

.panel-body .table {margin-bottom: 0px; }