// This CSS won't print because %equal-heights is never extended.

// reset button styles
%clean-button {
    color: $fonto;
    font-weight: 500;
    background: transparent;
    border:none;

    &:hover {
        color: $fonto-mx;
        transition: all .1s ease;
    }

    &:active {
        opacity: 0.8;
    }

    &:focus {
        box-shadow: rgba(0, 123, 255, 0) 0px 0px 0px 0.2rem;
        outline: 0px;
    }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
}

// reset link styles
%clean-link {
    color: $fonto;

    &:hover {
        color: $fonto-mx;
        text-decoration: none;
        transition: all .1s ease;
    }

    &:active {
        opacity: 0.8;
    }
}

%aw-btn-smart {
    background: linear-gradient( to top right,rgba(117,117,117 ,1) 0%, rgba(33,33,33 ,1) 90%);
    box-shadow: 1px 1px 30px rgba(33,33,33 ,1);
    font-weight: 500;
    color: #ddd;
    min-width: 6rem;
    width: 10rem;

    &:active {
        box-shadow: 0 1px 0 #000;
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
        background-image: none;
    }
}

/*------------------------------*/
// Common Buttons...

.aw-btn {
    @extend %clean-button;
    color: rgba(128, 128, 128, 1);
}

.aw-link {
    @extend %clean-link;
    color: rgba(128, 128, 128, 1);
}

.aw-nav-link {
    @extend %clean-link;

    display: block;
    padding: 1rem 1rem;
    color: rgba(128, 128, 128, 1);
    font-weight: 600;
    background-color: transparent;

    &:hover {
        background-color: rgba(50, 50, 50, 1);
    }
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}


// aw buttons...
.aw-btn-smart-v2 {
    @extend %aw-btn-smart;

    &:hover {
        background: linear-gradient( to top right, rgba(63,81,181,1) 0%, rgba(3,155,229 ,1) 40%);
        box-shadow: 1px 1px 22px rgba(2,119,189 ,1);
    }
}

.aw-btn-smart-v3 {
    @extend %aw-btn-smart;

    &:hover {
        background: linear-gradient(to right top, rgb(199, 144, 72) 0%, rgb(255, 154, 23) 100%);
        box-shadow: rgb(255, 163, 93) 1px 1px 22px;
    }
}

// modal buttons
.modal-header .close {
    margin: -1rem -1rem -1rem 0;
}

.close {
    color: #ddd;
    opacity: .75;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    color: #ddd;
    opacity: 1;
    outline: none;
}

.close:not(:disabled):not(.disabled):active {
    opacity: .75;
}

.btn-modal-v1 {
    @extend %clean-button;
    background: #1d1f24;
    padding: 26px 42px;
    border-radius: 0;
    border-top-left-radius: 85%;
    transition: all .2s ease;
}

.btn-modal-v1:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.0);
}

.btn-modal-v1:hover {
    transition: all .2s ease;
    color: #fff;
}

.btn-modal-v1:active {
    transition: all .0s ease;
    opacity: 1;
    color: #bbb;
}


// Account Buttons
.ahead_monofiska,
.aiteen_monofiska {
    display: block;
}

.aiteen_monofiska {
    padding: 0.35rem;
    padding-left: 1rem;
    color: $fontto-mn;
}



// Compositions Buttons
.comp-link-req {
    @extend %clean-link;
    
    > span {
        font-size: 24px;
        background-color: $thin_light;
        box-shadow: rgba(0, 123, 255, 0) 0px 0px 0px 0.2rem;
        border-color: transparent;
        border-radius: 50%;
        border-width: 2px;
        color: white;
        cursor: pointer;
        outline: none;
        padding: 0.75rem;
    }

    &:hover span {
        background-color: rgb(248, 248, 248);
        box-shadow: orange 1px 1px 100px;
        border-color: rgba(255, 165, 0, 0.5);
        transition: all 0.5s ease 0s;
        color: orange;
    }

    &:active span {
        color: #23282f;
        transition: all 0.15s ease 0s;
    }
}

.comp-link-req.disabled {

    > span {
        opacity: 0.65;
    }

    &:hover span {
        background-color: rgba(232, 232, 232, 0.75);
        box-shadow: rgba(227, 52, 47, 0.6) 1px 1px 100px;
        color: rgba(227, 52, 47, 1);
        opacity: 0.8;
    }

    &:active span {
        opacity: 0.65;
        color: #23282f;
    }
}




/* FOOTER */
footer > .container > ul:first-child a {
    font-size: 24px;
}