// This CSS won't print because %equal-heights is never extended.

// reset button styles
%clean-button {

}


// reset link styles
%clean-link {
    color: $fonto;

    &:hover {
        color: $fonto-mx;
        text-decoration: none;
    }

    &:active {
        color: $fonto;
    }
}

/*------------------------------*/

.aw-nav-link {
    @extend %clean-link;

    display: block;
    padding: 1rem 1rem;
    color: rgba(128, 128, 128, 1);
    font-weight: 600;
    background-color: transparent;
}

.aw-nav-link:hover {
    background-color: rgba(50, 50, 50, 1);
}


// Account Buttons
.ahead_monofiska,
.aiteen_monofiska {
    @extend %clean-link;

    &:hover {
        transition: all .1s ease;
    }
}

.ahead_monofiska,
.aiteen_monofiska {
    display: block;
}

.aiteen_monofiska {
    padding: 0.35rem;
    padding-left: 1rem;
    color: $fontto-mn;
}

// Compositions Buttons
.comp-link-req {
    @extend %clean-link;
    
    > span {
        font-size: 24px;
        background-color: rgba(192, 192, 192, 0.1);
        box-shadow: rgba(0, 123, 255, 0) 0px 0px 0px 0.2rem;
        border-color: transparent;
        border-radius: 50%;
        border-width: 2px;
        color: white;
        cursor: pointer;
        outline: none;
        padding: 0.75rem;
    }

    &:hover span {
        background-color: rgb(248, 248, 248);
        box-shadow: orange 1px 1px 100px;
        border-color: rgba(255, 165, 0, 0.5);
        transition: all 0.5s ease 0s;
        color: orange;
    }

    &:active span {
        color: black;
        transition: all 0.15s ease 0s;
    }
}

.comp-link-home {
    @extend %clean-link;
}