// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
    font-family: 'Didact Gothic';
    src: url('/fonts/DidactGothic-Regular.eot');
    src: local('Didact Gothic Regular'), local('DidactGothic-Regular'),
        url('/fonts/DidactGothic-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/DidactGothic-Regular.woff') format('woff'),
        url('/fonts/DidactGothic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
