/* COMMON */
body {
    font-family: "Didact Gothic";
    font-weight: 350;
    color: $fonto;
    background-color: $cbody;
}

// truncate text
%truncation {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}



/* HEADER */
.navbar-brand {
    margin-left: 1rem;
}

.navbar-artworch {
    background-color: $grayd;
    border-bottom: 2px solid rgb(128, 128, 128);
}

.navbar-light .navbar-nav .nav-link {
    color: $fonto;
}

.card {
    background-color: $cpanel;
}



/* FOOTER */
footer {
    border-top: 1px solid $thin_light;
}

