body {
    font-family: "Didact Gothic";
    font-weight: 350;
    color: $fonto;
    background-color: $cbody;
}

.navbar-artworch {
    background-color: $grayd;
}

.navbar-light .navbar-nav .nav-link {
    color: $fonto;
}

.card {
    background-color: $cpanel;
}