/* HEADER UI */
.ui.aw-nav-link {
    @extend %truncation;
    max-width: 160px;
}


/* INSIDE */
.aw_sidebar .table th,
.aw_sidebar .table td {
    padding: 0;
    border-top: 1px solid $thin_light;
}

.panel-body .table {margin-bottom: 0px; }