/* HEADER UI */

.aw-ui-navbar > li {
    width: 120px;

    > #awAccountDropdownBalance,
    #awAccountDropdownDefault {
        width: 100%;
    }

    a {
        max-width: 100%;
    }
}

.ui.aw-nav-link {
    @extend %truncation;
    text-align: center;

    &:focus {
        background-color: #323232;
    }
}

.dropdown-menu {
    font-size: 1rem;
    color: rgb(128, 128, 128);
    background-color: #16191f;
    border: 2px solid rgb(128, 128, 128);
    border-top-color: #323232;
    border-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    min-width: 5rem;
    padding: 0;
    margin: 0;

    .dropdown-item {
        @extend %truncation;
        padding: 0.25rem 0.1rem;
    }
}


#awAccountDropdownDefault > a,
#awAccountDropdownBalance > a {
    color: rgb(128, 128, 128);
    border-radius: 0px;

    &:hover, &:focus {
        color: #ffffff;
        text-decoration: none;
    }

    &:hover {
        background-color: #323232;
    }

    &:active {
        opacity: 0.82;
    }

    &:focus {
        background-color: transparent;
    }

    &:last-child {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}


/* INSIDE */
.aw_sidebar .table th,
.aw_sidebar .table td {
    padding: 0;
    border-top: 1px solid $thin_light;
}

.panel-body .table {margin-bottom: 0px; }